/* заголовок */
*{
    margin: 0px; 
    padding: 0px; 
    color: #555;
}
*{
    font-family: Arial, sans-serif;
}
h1{
    /*font-family: 'Marck Script', cursive; */ 
    font-family: 'Lacquer', sans-serif; 
    font-size: 1.5em
}

h1,h2,h3,h4,h5,h6 {
    color: #333
}
header {
    background: #fff;
    margin: 20px;
    padding: 20px;    
}

header img{
    background: #556B2F
}
/* Работа с меню */

   
header .top ul{
    list-style-type: none;
}
header li{
    display: inline-block;
}
header img{
    width: 50px;
}

header span.name1{
    color: #243238;
    font-variant-caps: all-petite-caps;
    font-size: 3em;
    font-weight:bold;
}

header span.name2{
    color: #F2732A;
    font-variant-caps: all-petite-caps;
    font-size: 1.5em;
    font-style: italic;
    font-weight:bold;
}

.logo {
    display: inline-block;
}

caption{
    font-size: 1.5em;
    font-style: italic;
}

main {
    width: 1024px;
    margin: auto;
}
/* меню */

.toph nav a:link {color: #B2B5AD}

.toph nav a:hover {
    color: #86AC26;
    
   /* background: #ffbd9d;
    text-decoration: underline*/
}
.toph nav a{
    font-style:italic;
}
.top nav a{
   /* color: #7F9840; - темнее*/
    font-style: normal;
    font-variant-caps: all-petite-caps;
    font-size: 1.5em;
    font-weight:bold;
}


.top nav a:link    {color: #243238}
/*nav a:visited {color: #f98f37}*/
nav a:active  {color: #86AC26}

nav a{
    text-decoration: none
}
.top nav a:hover {
    color: #7F9840;
   /* background: #ffbd9d;*/
    text-decoration:none;
}
nav a{
    padding: 5px 10px
}
nav span{
    color: #769722;
}
.container {
    width: 992px;
    margin: auto
}
/*.top nav, .toph nav {
    text-align: right
}

.toph nav {
    text-align:inherit;
}*/

nav ul{
    display: inline-block
}
header,#banner{
    /*margin: 0*/
}

.logo{
  vertical-align: middle; 
    display: inline-block;
    text-align: left;
    height: 80px
}
/* кнопка */
.finder{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    text-shadow: 0 1px 1px #000;
    display: inline;/*block;*/
    width: 250px;
    color: #fff;
    margin: auto;
    background-color: #F2732A;/* #808000;*/
    text-align:center;
    font-variant-caps: all-petite-caps;
    font-size: 1.5em;
    font-weight:bold;
    letter-spacing: 3px;
    
}
.finder:hover{
    background-color: #F1413B;  
}

/* баннер  -->*/
#banner{
    width: auto;
    /*overflow: hidden;*/
    background-image: url(original.jpg);
    background-attachment:inherit;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px
}
#banner * {
    color: #fff;    
}

#banner h1, h2{
  text-align:center;
    padding: 3px;
}
#banner .lead{
    text-align:left;    
}

h1, caption{
    text-shadow: 2px 1px 10px;
}
#banner blockquote{
    text-align: center;
    font-style: normal;
    font-weight:100;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 2rem;
}
.back {
    background: rgba(191, 96, 48, 0.25);
    border: none;
}

.download{
    background: #808000;
    text-align: center;
}
#banner{
    margin-top: -18px
}
/* баннер  <--*/

/*фото новостей*/

#news table{
  border-collapse: collapse;
  vertical-align: top;  
}
#news img{
    width: 150px;
   /* height: 70px*/
}
#news td{
    border: 2px solid #eee;
    padding: 7px;
    width: 25%;
    vertical-align: top;
}

/* раздел о нас <*/

#about .cols{
     display: table;
    text-align: center;
    vertical-align: top;
}
#about .col{
    display: table-cell;
    width: 25%;
    margin: 10px;
    border: 2px solid #eee;
    border-collapse: collapse;
}

#about h3::first-letter{
    font-size: 3rem;
    color: #009999/*#aaa;*/
}

header .container{
     display: table;
   /* text-align: center;*/
}
header .top{
    display: table-cell;
    width: 25%;
    margin: 0;
}

/*работа с формами, контакты*/
 
#contacts .row:nth-child(4) *{
    vertical-align: top
}

#contacts label {
    display: inline-block;
    width: 150px;
    margin: 10px;
}

#contacts input,
#contacts textarea{
    width: 300px
}

#contacts .row:nth-child(5) input,
#contacts .row:nth-child(6) input{
    width: auto;
}

#contacts textarea{
    height: 150px
}

iframe {
    border: none;
    width: 992px;
    height: 450px;
}

/* услуги */
#services a{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none
}

#services table, #services tr, #services td{
    border-collapse: separate;
    text-align: center;
    margin: 5px;
    grid-row: auto;
    line-height: 350px;
    column-width: 490px;
    /*vertical-align: top;*/
    
}
#services tr {
    width: 100%;
}

#pic1{
    background-image: url(key1.jpg); 
   /* background-attachment:inherit;
    background-repeat: no-repeat;
    /*background-position: center;*/
}
#pic2{
     background-image: url(pokupka-kvartiry.jpg); 
}
#pic3{
     background-image: url(frends.jpg); 
}
#pic4{
     background-image: url(com.jpg); 
}
#pic5{
     background-image: url(vil.jpg); 
}
#pic6{
     background-image: url(cap.jpg); 
}


/* отзывы */
#reviews {
    background-color: #BF7130;
}
#reviews * {
    color:#fff;
}
#reviews figure,
#reviews p{
    text-align: center;
}
#reviews img{
    width: 100px;
    border: 5px solid #fff;
    border-radius: 100px;
}

#product img:hover{
    width: 300px;
    opacity: .5;
}

/* каталог */
#catalog img{
   /* width: 350px;*/
    
}

/*#catalog .items{
     display: table;
    text-align: center;
    vertical-align: top;
}
#catalog .item{
    display: table-cell;
    width: 25%;
    margin: 10px;
    border: 2px solid #eee;
    border-collapse: collapse;
}*/

#catalog .items, #catalog .products{
  font-size:0; 
}
#catalog .item, #catalog .product{ 
  vertical-align: top;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: inline-block
}
/*#Finder label{
  display: inline-block;
  width: 150px;
  margin:10px
}*/
#catalog .products{
  font-size:0; 
  text-align: center
}
#catalog .product{ 
  vertical-align: top;
  font-size: 1rem;
  width: 50%;
  box-sizing: border-box;
  display: inline-block;  
  margin: 10px 0
}
#catalog .product p{
  width: 230px;
  margin: auto;
  text-align: justify
}

/* подвал */

footer h3{
    color: #769722;
    text-align: center;
    font-size: 1.2rem;
}
footer{
    background: #243238;
    margin: auto;
    padding: 5px 15px;
}
.foots a, .foots span {
    color: whitesmoke;
}

footer .foots{
  display: table;
}
footer .foot{ 
  display: table-cell;
  width: 33.33%
}
.carusel {
    margin: auto;
    width: 50%;
}
/* исправления после добавления стилей для карусели*/

.toph nav a {color: #B2B5AD}
.top nav a {color: #243238}
header nav, header .logo {
    padding: 0px;
    margin: 0px;
    /*border-style:double;*/
}

/* исправления 3*/

#about .col1 p{
    padding: 5px;
    margin: 0px;    
}
#about ul{
    list-style-image: url(Check.png);
    list-style-type:circle;
}

#about .lead {
    margin: 10px;
    /*line-height: 20px;*/
    letter-spacing: 0.5px;
}
